<div class="container">
  <div class="row">

      <!-- insert <div class="card"> -->
      <% @cocktails.each do |cocktail| %>
       <!-- <li><%= cocktail.name%></li> -->
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/random');">
            <div class="card-category"><%= cocktail.name %></div>
            <div class="card-description">
              <h2>ingredients</h2>
              <p></p>
            </div>
            <!-- <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
            <!-- <a class="card-link" href="" ></a> -->
            <%= link_to 'Show', cocktail_path(cocktail), class: 'card-link'  %>
          </div>
        </div>
      <% end %>

  </div>
</div>
