<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/paragppanchal"><i class="fab fa-github"></i></a>
    <a href="https://twitter.com/paragpanchal"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/paragppanchal/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This web app is made with <i class="fa fa-heart"></i> by Parag Panchal
  </div>
</div>
