<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag('cocktail_logo.png') %>
  </a>

  <!-- All Heading -->
  <h1 class=navbar-heading>Cockti</h1>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to 'Add cocktail', new_cocktail_path, class: 'navbar-wagon-item navbar-wagon-link' %>

  </div>
</div>

